.form {
  /* set form width 400px */
  width: 400px;
  /* set form in center */
  margin: 0 auto;
}

a,
a:hover,
a:visited {
    test-decoration: none !important;
}

.course__name,
.course__description {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
